repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.2
    hooks:
    -   id: ruff
        args: [ --fix ]
    -   id: ruff-format

-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        args: ["."]
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
